.loader {
  animation: spis 3s ease-in-out infinite;
  margin: auto auto;
  width: 70%;
  text-align: center;
}

.loader__wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgb(255, 235, 235);
}

.loader__wrapper h1 {
  font-family: "Didact Gothic";
  color: #263f2f;
}
@keyframes spis {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
