@import "./variables.scss";

.hero {
  @include flex-center;
  position: relative;
  height: 100vh;
  overflow: hidden;

  &__content {
    color: $primary;
    width: 70%;
    text-align: center;
    h1 {
      font-family: $body;
      font-size: 3rem;
    }
  }

  &__button {
    margin-top: 20px;
    background-color: whitesmoke;
    font-family: $heading;
    border-color: none;
    color: black;
  }

  &__video {
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
  }
}
