@import "./variables.scss";

.navbar {
  @include flex-between;
  background-color: $pink;
  .bagNavbar {
    width: 20px;
  }
  .logoNavbar {
    width: 80px;
  }

  &__links {
    @include flex-acenter;

    .nav-link {
      @include flex-acenter;
      padding: 0.5rem 0.8rem;
      color: $secondary;
      font-size: 16px;
      font-family: $body;
      span {
        color: $secondary;
        font-size: 16px;
      }
    }
  }
  span {
    color: $secondary;
    margin-right: 5px;
    font-family: $body;
    font-size: 20px;
  }

  @media only screen and (min-width: 800px) {
    .logoNavbar {
      width: 200px;
    }

    &__links {
      .nav-link {
        padding: 0.5rem 1rem;
        font-size: 20px;
        span {
          font-size: 20px;
        }
      }
    }
    .bagNavbar {
      width: 30px;
    }
  }
}
