@import "./variables.scss";

.productsList {
  flex-grow: 1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-column-gap: 10px;

  .product__card.sold-out {
    pointer-events: none;
  }

  .product__image {
    @include flex-center;
    @include ease-in-200;
    position: relative;
    cursor: pointer;

    img {
      border-radius: 3px;
      width: 100%;
    }

    .notice {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $tertiary;
      padding: 10px;
      font-family: $heading;
      color: whitesmoke;

      &.price {
        font-size: 1rem;
      }

      &.sold-out {
        background-color: #a50000;
      }
    }
    .product__label {
      @include ease-in-200;
      position: absolute;
      opacity: 0;
      text-align: center;
      p {
        color: white;
        font-size: 20px;
      }
    }

    &:hover {
      transform: scale(1.02);
      img {
        filter: brightness(50%);
      }
      .product__label {
        color: white;
        opacity: 1;
      }
    }

    &.sold-out {
      pointer-events: none;
    }
  }

  .product__details {
    display: flex;
    :first-child {
      margin-right: 10px;
    }
  }

  @media only screen and (min-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    .product__image {
      .notice {
        padding: 30px;
      }
    }
  }
}
