@import "./variables.scss";

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $primary;
  p {
    font-family: "Didact Gothic", sans-serif;
    margin: 0px;
    color: $secondary;
    opacity: 0.5;
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
  }
  .collection__wrapper {
    margin-top: 100px;
    position: sticky;
    top: 0;
    align-self: flex-start; /* <-- this is the fix */

    .collection__title {
      text-align: center;
      font-family: $body;
    }
    .collection {
      display: flex;

      padding: 20px 50px;
    }
  }
}
