@import "./variables.scss";

.modal-content {
  background-color: $primary;
  width: 100vw;

  .modal-header {
    border-bottom: 1px solid rgb(31, 58, 41);
  }

  .modal-footer {
    border-top: 1px solid rgb(31, 58, 41);
  }

  .item__list {
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 0.5fr));
    grid-column-gap: 10px;

    .product__image {
      position: relative;
      img {
        width: 100%;
      }

      .product__quantity {
        position: absolute;
        bottom: 0%;
        right: 0%;
        margin: 0px;
        background-color: black;
        padding: 10px;
        color: whitesmoke;
      }

      .removeButton {
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: $warning;
      }
    }

    .product__details {
      display: flex;
      justify-content: space-around;
    }
  }
}
