@import "./variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  .bagNavbar {
    width: 20px;
  }

  .navbar-brand {
    display: flex;
    .logoNavbar {
      width: 80px;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    .nav-link {
      padding: 0.5rem 0.8rem;
      display: flex;
      align-items: center;
      color: black;
      font-size: 16px;
      font-family: "Didact Gothic", sans-serif;
      span {
        color: black;
        font-size: 16px;
      }
    }
  }
  span {
    color: black;
    margin-right: 5px;
    font-family: "Didact Gothic", sans-serif;
    font-size: 20px;
  }

  @media only screen and (min-width: 800px) {
    .navbar-brand {
      .logoNavbar {
        width: 200px;
      }
    }

    &__links {
      .nav-link {
        padding: 0.5rem 1rem;
        font-size: 20px;
        span {
          font-size: 20px;
        }
      }
    }
    .bagNavbar {
      width: 30px;
    }
  }
}
